{% extends "layout.html" %}

{% block content %}

</section>


<div>
    <p>Login to business portal:</p>

</div>


<section name="login-box" class="">

    {% if session.username %}

    <p>You are logged in on business account {{session.username}}</p>
    <button onclick="location.href='manage-restaurants'"> Manage restaurants </button>


    {% else %}
    <div name="login-form" class="login-form">

        <form action="/login-execute-business" method="POST">

            <input name="email" type="text" placeholder="Email">
            <input name="password" type="password" placeholder="Password">
            <input type="submit" value="login">
        </form>


        <button onclick="location.href='/login'">Customer login</button>



        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }} </p>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </div>
    {% endif %}



</section>

{% endblock %}