{% extends "layout.html" %}

{% block content %}


<section name="login-box" class="">

    {% if session.username and session.type == "company" %}

    <p>You are logged in on business account {{session.username}}</p>
    <button onclick="location.href='manage-restaurants'"> Manage restaurants </button>


    {% elif session.username and session.type == "customer" %}

    <p>You need a business account to access the business portal. You can create a business account from "Join-us"-section</p>

    {% else %}
    <div name="login-form" class="login-form">

        <p>Login to business portal:</p>

        <form action="/login-execute-business" method="POST">

            <input name="email" type="text" placeholder="Email" maxlength="100">
            <input name="password" type="password" placeholder="Password" maxlength="100">
            <input type="submit" value="login">
        </form>


        <button onclick="location.href='/login'">Customer login</button>



        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }} </p>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </div>
    {% endif %}



</section>

{% endblock %}