{% extends "layout.html" %}

{% block main %}

    {% if session.username %}

        <section>
            <p>Welcome {{session.username}}!</p>
        </section>

    {% endif %}

    <section name="main-functions" class="main-functions">

        <form action="/search" method="GET">

            <input name="query" type="text" placeholder="Search for restaurant">
            <input type="submit" value="Search">

        </form>


        <div>

            <div class="search-results">
                {% for result in result_to_display %}

                <a href="/restaurants/{{result[0]}}" class="search-results">
                    Name: {{result[1]}}
                    <br>
                    Adress: {{result[2]}}, {{result[4]}}
                    <br>
                    Phone number: {{result[5]}}
                </a>
                <br>
                <br>

                {% endfor %}
            </div>

        </div>

    </section>

{% endblock %}