{% extends "layout.html" %}

{% block content %}

<section name="customer-singup" class="application-section">

    <div class="singup-form">
        <p>Register now:</p>

        <form action="/new-account" method="POST">
            <input name="email" type="email" placeholder="Your email adress" maxlength="100" required>
            <input name="password" type="password" placeholder="Password" minlength="6" maxlength="100" required>
            <input name="firstname" type="text" placeholder="Firstname" maxlength="100" required>
            <input name="lastname" type="text" placeholder="Lastname" maxlength="100" required>
            <input type="submit" value="Create account!">

        </form>

    </div>

</section>

<section name="" class="application-section"">

    <div class=" singup-form">
    <p>To join us, please enter your company details:</p>

    <form action="/new-company" method="POST">

        <input name="company-name" type="text" placeholder="Company name" maxlength="100" required>
        <input name="email" type="email" placeholder="Email" maxlength="100" required>
        <input name="password" type="password" placeholder="Password" minlength="6" maxlength="100" required >
        <input name="business-id" type="text" placeholder="Business ID / VAT-number" maxlength="100" required>
        <input name="streetadress" type="text" placeholder="Street name and number" maxlength="100" required>
        <input name="zip" type="text" placeholder="Zip code" maxlength="100" required>
        <input name="contact-name" type="text" placeholder="Contact name" maxlength="100" required> 
        <input name="contact-number" type="number" placeholder="Contact number" maxlength="100" required>
        <input type="submit" value="Join us!">

    </form>
    </div>

</section>

{% endblock %}