<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<link rel="stylesheet" href="/static/css/styles.css"> -->
    <link rel="stylesheet" href="../static/css/styles.css">


</head>

<body>

    {% if session.username %}

    <section name="top-menu" class="top-menu">

        <ul>

            <button onclick="location.href='/'">Home</button>
            <button onclick="location.href='/join-us'" id="join-us"
                onclick="location.href = '/join-us'">Join-us!</button>
            {% if session.type == "company" %}
            <button onclick="location.href='/manage-restaurants'">Manage restaurants</button>
            {% endif %}
            <button onclick="location.href='/contact-us'">Contact us</button>
            <button onclick="location.href='/logout'">Logout</button>


        </ul>

    </section>


    {% else %}

    <section name="top-menu" class="top-menu">

        <ul>
            <button onclick="location.href='/'">Home</button>
            <button onclick="location.href = '/join-us'">Join-us!</button>
            <button onclick="location.href='/contact-us'">Contact us</button>
            <button onclick="location.href='/login'">Login</button>
        </ul>

    </section>


    {% endif %}

    {% block main %}
    
    {% endblock %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}

    {% endblock %}

    <footer>

    </footer>
    <script src="../static/scripts/scripts.js"></script>
</body>

</html>