{% extends "layout.html" %}

{% block content %}

{% if session.username %}

<p>You are logged in with account {{session.username}}</p>


{% if session.type == 'company'%}

<button onclick="location.href='manage-restaurants'"> Manage restaurants </button>

{% endif %}



{% else %}

<section name="login-box" class="">

    <div>
        <p>Login:</p>

    </div>

    <div name="login-form" class="login-form">

        <form action="/login-execute-customer" method="POST">

            <input name="email" type="text" placeholder="Email">
            <input name="password" type="password" placeholder="Password">
            <input type="submit" value="login">
        </form>

    </div>

</section>

<section name="login-box" class="">

    <p>Login to business portal:</p>

    <div name="login-form" class="login-form">

        <form action="/login-execute-business" method="POST">

            <input name="email" type="text" placeholder="Email">
            <input name="password" type="password" placeholder="Password">
            <input type="submit" value="login">
        </form>

    </div>

</section>

{% endif %}

{% endblock %}