{% extends "layout.html" %}

{% block content %}

<section name="" class="">


  {% if session.type != "company" %}

  <p> You need a business account to manage restaurants. Apply trought the Join-us! section</p>

  {% else %}


  <p> Hello {{session.username}}! Down below you can manage your restaurants!</p>

  <section name=" add-restaurant">

    <p>Add new restaurant</p>

    <form action="/add-restaurant" method="POST">
      <input name="name" type="text" placeholder="Name" maxlength="100">
      <input name="email" type="text" placeholder="Restaurant contact email" maxlength="100">
      <input name="phonenumber" type="text" placeholder="Restaurant contact phone number" maxlength="100">
      <input name="streetadress" type="text" placeholder="Restauran street adress" maxlength="100">
      <input name="zip" type="text" placeholder="Zip-code" maxlength="100">
      <input type="submit" value="Add restaurant">

    </form>

  </section>

  {% endif %}


  <section>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <hr>


    {% for restaurant in restaurantsToDisplay %}
    Restaurant id: {{restaurant[0]}}
    <br>
    Restaurant name: {{restaurant[1]}}
    <button onclick="locatioin.href=''">Manage</button>
    <br>
    <br>

    {% endfor %}

  </section>

{% endblock %}