{% extends "layout.html" %}

{% block content %}

<section name="" class="">


  {% if session.type != "company" %}

  <p> You need a business account to manage restaurants. Apply trought the Join-us! section</p>

  {% else %}


  <p> Hello {{session.username}}! Down below you can manage your restaurants!</p>

  <section name=" add-restaurant">

    <p>Add new restaurant</p>

    <form action="/add-restaurant" method="POST">
      <input name="name" type="text" placeholder="Name" value="{{name}}" maxlength="100" required>
      <input name="email" type="text" placeholder="Restaurant contact email" value="{{email}}" maxlength="100" required>
      <input name="phonenumber" type="text" placeholder="Restaurant contact phone number" value="{{phonenumber}}"
        maxlength="100" required>
      <input name="streetadress" type="text" placeholder="Restauran street adress" value="{{streetadress}}"
        maxlength="100" required>
      <input name="zip" type="text" placeholder="Zip-code" maxlength="100" required>
      <input type="submit" value="Add restaurant">

    </form>

  </section>

  {% endif %}


  <section>
    {% if restaurants_to_display | length %}

    {% for restaurant in restaurants_to_display %}

    <form action="/manage-restaurants" id="restaurant-info-form" method="POST">

      <input type="text" value="Restaurant id: {{restaurant[0]}}" disabled>
      <br>
      <input type="text" value="Restaurant name: {{restaurant[1]}}" disabled>
      <br>
      <input type="submit" name="edit" id="" value="Edit">
      <input type="submit" name="delete-first" value="Delete">
      <input type="hidden" value="{{restaurant[0]}}" name="restaurant_id" id="">
    </form>
    <br><br>
    {% endfor %}

    {% else %}

    <p>You don't have any restaurants</p>

    {% endif %}

  </section name="restaurants-to-edit">

  {% for data in restaurant_to_edit %}

  <form action="/add-restaurant" method="POST">

    Restaurant name: <input type="text" value="{{data[0]}}" name="name">
    Email: <input type="text" value="{{data[1]}}" name="email">
    Phonenumber: <input type="text" value="{{data[2]}}" name="phonenumber">
    Streetname: <input type="text" value="{{data[3]}}" name="streetadress">
    Zip: <input type="text" value="{{data[4]}}" name="zip">
    <input type="hidden" value="{{restaurant_id}}" name="restaurant_id">
    <input type="submit" value="Update" name="update">
  </form>

  <button onclick="location.href='/manage-restaurants'"> Cancel </button>

  {% endfor %}

  <section>
    {% for data in restaurant_to_delete %}

    Are you sure you want to delete the following restaurant:
    <br>
    {{data[0]}}
    <br>
    {{data[1]}}
    <br>
    {{data[2]}}
    <br>
    {{data[3]}}
    <br>
    {{data[4]}} {{data[5]}}
    <br>

    <form action="/manage-restaurants" method="post">
      <input type="submit" name="delete" value="Delete restaurant">
      <input type="submit" name="" value="Cancel">
      <input type="hidden" value="{{restaurant_id}}" name="restaurant_id">
    </form>

    {% endfor %}

  </section>

  {% endblock %}