{% extends "layout.html" %}

{% block content %}

{% if session.username and session.type == 'customer' %}

<section name="buttons">
  <button onclick="location.href='/write-review/{{id}}'">Write a review!</button>
</section>


{% endif %}


<section name="restaurant-information" class="">

  {% for restaurantInfo in restaurantsResult %}
  Restaurant name: {{restaurantInfo[0]}}
  <br>
  Restaurant phone number: {{restaurantInfo[1]}}
  <br>
  Restaurant email: {{restaurantInfo[2]}}
  <br>
  Restaurant adress: {{restaurantInfo[3]}}
  <br>
  <br>

  {% endfor %}

</section>

<section name="reviews">

  {% for review in reviewersResult %}
  Reviewer name: {{review[0]}} {{review[1]}}

  <br>
  Score: {{review[2]}}
  <br>
  Reviewer commentary: <br>
  {{review[3]}}
  <br>
  <br>

  {% endfor %}

</section>


{% endblock %}