{% extends "layout.html" %}

{% block content %}

{% if session.username and session.type == 'customer' %}

<section name="buttons">
  <button onclick="location.href='/write-review/{{id}}'">Write a review!</button>
</section>


{% endif %}


<section name="restaurant-information" class="">

  {% for restaurant_info in restaurant_result %}
  Restaurant name: {{restaurant_info[0]}}
  <br>
  Restaurant adress: {{restaurant_info[3]}}, {{restaurant_info[5]}}
  <br>
  Restaurant phone number: {{restaurant_info[2]}}
  <br>
  Restaurant email: {{restaurant_info[1]}}
  <br>
  <br>

  {% endfor %}

</section>

<section name="reviews">

  <h2>Reviews:</h2>
  
  {% if reviewers_result|length %}

  {% for review in reviewers_result %}
  
  <div class="review">Reviewer name: {{review[0]}} {{review[1]}}<br>
  Score: {{review[2]}}<br>
  Reviewer commentary:<br>
  {{review[3]}}<br></div>
  <br>


  {% endfor %}

  {% else %}

  <p> No reivews yet </p>


  {% endif %}

</section>


{% endblock %}